<div class="vbox" data-ng-form="siteDetailForm">
    <div class="bg-light lter b-b wrapper-md">
        <ul class="nav nav-pills nav-sm">
            <li data-ng-repeat="item in groups"
                ng-class="{'active':item.name.toUpperCase()===groups.selected.toUpperCase()}"
                ng-click="setGroup(item.name)">
                <a href=""><i class="{{item.iconCss}}"></i>{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div class="row-row">
        <div class="cell">
            <div class="cell-inner">
               
                    <!--group: Call-->
                <div data-ng-show="groups.selected==='call'&& bizTypes.selected==='cleaning'"
                     data-ng-include="'tpl/Admin/Site/cleaning/call.cleaning.html'"></div>
<!--                <div data-ng-show="groups.selected==='call'&& bizTypes.selected==='security'"-->
<!--                     data-ng-include="'tpl/Admin/Site/security/call.security.html'"></div>-->
<!--                <div data-ng-show="groups.selected==='call'&& bizTypes.selected==='maintenance'"-->
<!--                     data-ng-include="'tpl/Admin/Site/maintenance/call.maintenance.html'"></div>-->
                <!--/group: Call-->
                <!--group: Contract-->
                <div data-ng-show="groups.selected==='contract'&& bizTypes.selected==='cleaning'"
                     data-ng-include="'tpl/Admin/Site/cleaning/contract.cleaning.html'"></div>
<!--                <div data-ng-show="groups.selected==='contract'&& bizTypes.selected==='security'"-->
<!--                     data-ng-include="'tpl/Admin/Site/security/contract.security.html'"></div>-->
<!--                <div data-ng-show="groups.selected==='contract'&& bizTypes.selected==='maintenance'"-->
<!--                     data-ng-include="'tpl/Admin/Site/maintenance/contract.maintenance.html'"></div>-->
                <!--/group: Contract-->
            </div>
        </div>
    </div>
</div>