<div class="vbox">
    <div class="bg-light lter b-b wrapper-md">
        <ul class="nav nav-pills nav-sm">
            <li data-ng-repeat="item in groups"
                ng-class="{'active':item.name.toUpperCase()===groups.selected.toUpperCase()}"
                ng-click="setGroup(item.name)">
                <a href=""><i class="{{item.iconCss}}"></i>{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div class="row-row">
        <div class="cell">
            <div class="cell-inner">
                <!--group: Call-->
                <div data-ng-show="groups.selected==='call'"
                     data-ng-include="'tpl/Admin/Site/site.detail.contact.html'"></div>
                <div data-ng-show="groups.selected==='contract'"
                     data-ng-include="'tpl/Admin/Site/site.detail.contract.cleaning.html'"></div>
            </div>
        </div>
    </div>
</div>