<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Current Cleaning Detailor:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.CleaningContract.Contractor" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Days Cleans per Week:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.CleaningContract.CleaningFreq" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tender/Review Date:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.CleaningContract.ReviewDate" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Site Qualification:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.CleaningContract.QualifyingQuantity" disabled>
        </div>
    </div>
    <!--<div class="form-group">
        <label class="col-md-2 control-label">Date Quoted:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="data.Site.CleaningDetail.DateQuoted | date: 'dd-MM-YYYY'" disabled>
        </div>
    </div>-->
    <div class="form-group">
        <label class="col-md-2 control-label">Contact at time of quote:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.CleaningContract.ContactDuringQuote" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Price PA:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.CleaningContract.PricePa" disabled>
        </div>
    </div>
</form>