<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Current Security Detailor:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.SecurityContract.Contarctor" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tender/Review Date:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.SecurityContract.ReviewDate" disabled>
        </div>
    </div>
    <!--<div class="form-group">
        <label class="col-md-2 control-label">Date Quoted:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="data.Site.SecurityDetail.Se_Q_Date | date: 'dd-MM-yyyy'" disabled>
        </div>
    </div>-->
    <div class="form-group">
        <label class="col-md-2 control-label">Price PA:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.SecurityContract.Se_Pr_Pa" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Reason Unsuccessful:</label>
        <div class="col-md-10">
            <input type="text" class="form-control w-md" ng-model="callsheet.data.Contact.Site.SecurityContract.Se_Unsu_Op" disabled>
        </div>
    </div>
</form>