<form name="step1" class="form-validation">
    <div class="font-bold h4 m-b-md">{{vm.modalTitle}}</div>
    <div class="m-t">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label>{{vm.noTextLabel}}</label>
                    <input type="number" min="0" ui-validate=" '$value >0' " class="form-control" data-ng-model="vm.rowsCount" required>
                </div>
            </div>
        </div>
    </div>
    <div class="m-t text-right">
        <button class="btn btn-info" type="submit" data-ng-click="vm.addRows()" ng-disabled="step1.$invalid">
            Next >>
        </button>
    </div>
</form>