<div class="panel-heading b-b b-light">
    <button class="btn btn-xs btn-danger pull-right" data-ng-click="vm.contactModal()" data-ng-if="vm.quote.Status.Id===vm.quoteStatusType.Current"><i class="fa fa-fw fa-edit"></i>Edit</button>
    <span class="text-muted">Contact</span>
    <label class="label bg-danger m-l-xs" data-ng-if="vm.quote.ContactCheckOverDue">Overdue</label>
</div>
<ul class="list-group list-group-lg no-bg auto">
    <li class="list-group-item clearfix">
        <strong class="block">Last Contact Date</strong>
        <span>{{(vm.quote.LastContactDate | date:'dd/MM/yyyy')||'N/A'}}</span>
    </li>

    <li class="list-group-item clearfix" data-quote-qa="vm.quote.QuestionResults" data-qa-type="vm.questionType.notCalled"></li>

</ul>