<div class="wrapper-md">
    <tabset class="tab-container">
        <tab heading="Maintenance Contract">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Contact related Detail</span>
                </div>
                <div class="panel-body">
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>SalesRep</label>
                            <input type="text" class="form-control" placeholder="" ng-model="CleaningDetail.call.Sales_Rep" required>
                        </div>
                        <div class="col-sm-6">
                            <label>Call cycle</label>
                            <input type="text" class="form-control" placeholder="" ng-model="CleaningDetail.call.CallFrequency" required>
                        </div>
                    </div>
                    <div class="form-group pull-in clearfix">

                        <div class="col-sm-6">
                            <label>TS to call</label>
                            <input type="text" class="form-control" placeholder="" ng-model="CleaningDetail.call.TsToCall" required>
                        </div>
                        <div class="col-sm-6">
                            <label>Last call</label>
                            <input type="text" class="form-control" placeholder="Date" ng-model="CleaningDetail.call.LastCall" required>
                        </div>
                    </div>
                    <div class="form-group pull-in clearfix">
                        <div class="col-sm-6">
                            <label>DA to Check</label>
                            <input type="text" class="form-control" placeholder="Date" ng-model="CleaningDetail.call.Data_Updat" required>
                        </div>
                        <div class="col-sm-6">
                            <label>Next call</label>
                            <input type="text" class="form-control" placeholder="Date" ng-model="CleaningDetail.call.NextCall" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>DA Check Infomartion</label>
                        <textarea class="form-control" rows="4" placeholder="DA Check Infomartion" data-ng-model="CleaningDetail.call.Info_Updat"></textarea>
                    </div>

                </div>
            </div>
        </tab>
    </tabset>
    <div class="form-group">
        <label>Note Pad</label>
        <textarea class="form-control" rows="15" placeholder="Type your Notes" data-ng-model="CleaningDetail.call.Note_Pad"></textarea>
    </div>
</div>