<div class="form-group pull-in clearfix">
    <div class="col-sm-6">
        <label>Title</label>
        <input type="text" class="form-control" ng-model="contactPerson.Title">

    </div>
    <div class="col-sm-6">
        <label>Position</label>
        <input type="text" class="form-control" ng-model="contactPerson.Position">
    </div>
</div>
<div class="form-group pull-in clearfix">
    <div class="col-sm-6">
        <label>Fist Name</label>
        <input type="text" class="form-control" ng-model="contactPerson.Firstname">
    </div>
    <div class="col-sm-6">
        <label>Last Name</label>
        <input type="text" class="form-control" ng-model="contactPerson.Lastname">
    </div>
</div>

<div class="form-group pull-in clearfix">
    <div class="col-sm-6">
        <label>Email</label>
        <input type="email" class="form-control" name="email" ng-model="contactPerson.Email">
        <small class="text-danger" ng-show="profileForm.email.$invalid">Email Address is invalid</small>
    </div>
    <div class="col-sm-6">
        <label>Mobile</label>
        <input type="text" class="form-control " ng-model="contactPerson.Mobile">
    </div>
</div>

<div class="form-group pull-in clearfix">
    <div class="col-sm-6">
        <label>Direct Line</label>
        <input type="text" class="form-control" ng-model="contactPerson.DirectLine">

    </div>

    <div class="col-sm-6">
        <label>Fax</label>
        <input type="text" class="form-control" ng-model="contactPerson.Fax">
    </div>
</div>
<div class="form-group pull-in clearfix">
    <div class="col-sm-6">
        <label>Unit</label>
        <input type="text" class="form-control" ng-model="contactPerson.PoUnit">
    </div>
    <div class="col-sm-6">
        <label>Street</label>
        <input type="text" class="form-control" ng-model="contactPerson.PoStreet">
    </div>
</div>


<div class="form-group pull-in clearfix">
    <div class="col-sm-6">
        <label>PO Number</label>
        <input type="text" class="form-control" ng-model="contactPerson.PoNumber">
    </div>
    <div class="col-sm-6">
        <label>Suburb</label>
        <input type="text" class="form-control" ng-model="contactPerson.PoSuburb">
    </div>

</div>
<div class="form-group pull-in clearfix">
    <div class="col-sm-6">
        <label>State</label>
        <input type="text" class="form-control" ng-model="contactPerson.PoState">
    </div>
    <div class="col-sm-6">
        <label>Post code</label>
        <input type="text" class="form-control" ng-model="contactPerson.PoPostcode">
    </div>

</div>