<div class="vbox">
    <div class="wrapper-xs b-b">
        <div class="input-group m-b-xxs">
            <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
            <input type="text" class="form-control input-sm no-border no-bg text-md " placeholder="Search Name" ng-model="aside.query">
        </div>
    </div>
    <div class="row-row">
        <div class="cell scrollable hover">
            <div class="cell-inner">
                <div class="m-t-n-xxs">
                    <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                        <a class="list-group-item m-l"
                           ng-repeat="t in queue.telesales | filter : aside.query | orderBy : Name"
                           ng-class="{'select m-l-none' : aside.isSelected(t)}"
                           ng-click="aside.select(t)">
                            <span class="block text-ellipsis m-l-n"
                                  ng-class="{'m-l-none' : aside.isSelected(t)}"
                                  ng-bind="t.Name"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>