<!-- header -->
    <div class="padder b-b bg-light" style="margin-top: 11px">
        <pageable page-size-changed="vm.setListPageSize" current-page-changed="vm.listPageChanges" total-items="vm.paging.totalItems" page-size="vm.paging.pageSize"></pageable>
    </div>
    <div class="input-group m-b-xxs bg-white-only" id="searchBar">
        <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
        <input type="text" class="form-control input-sm no-border text-sm" placeholder="Search {{vm.status}}" ng-model="vm.keyword" data-ng-change="vm.loadLeadList()">
    </div>
    <!-- / header -->
    <!-- list -->
    <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
        <li ng-repeat="lead in vm.Leads" class="list-group-item clearfix b-l-3x" label-color="lead.LeadType">
            <div class="pull-right text-sm text-muted">
                <p class="hidden-xs">{{ lead.LastUpdateDate | fromNow}}</p>
            </div>
            <div>
                <a ui-sref="lead.detail({id:lead.Id})" class="text-md text-info">
                    {{lead.Id}}
                    {{lead.SiteName}}
                </a>
                <span class="label bg-light">{{lead.Status|ucfirst}}</span>
                <span class="label bg-light">{{lead.LeadType}}</span>
            </div>

            <div class="clear text-ellipsis">
                <i class="fa fa-location-arrow fa-fw text-muted " tooltip="Location"></i>
                {{lead.SiteUnit}}
                {{lead.SiteNumber}}
                {{lead.SiteStreet}}
                {{lead.SiteSuburb}}
                {{lead.SiteState}}
                {{lead.SitePostcode}}

            </div>
            <div class="clear">
                <span class="m-r-xs">
                    <i class="fa fa-phone fa-fw text-muted" tooltip="Phone"></i>
                    <a data-ng-href="tel:{{lead.Phone}}" class="text-info" data-ng-if="lead.Phone">
                        {{lead.Phone||'N/A'}}
                    </a>
                    <span data-ng-if="!lead.Phone">N/A</span>
                </span>
                <span class="m-r-xs">
                    <i class="fa fa-user fa-fw text-muted" tooltip="ContactName"></i>
                    {{lead.FirstName}}
                    {{lead.LastName}}
                </span>

                <span class="m-r-xs">
                    <i class="fa fa-eye fa-fw text-muted" tooltip="QP"></i>
                    {{lead.QpInitial}}
                    {{lead.QpName}}
                </span>
            </div>
        </li>
    </ul>
<!-- / list -->